/** @format */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f8ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
/* 
.input-lable {
  color: rgb(102 102 102);
  font-size: 1.7vh;
  text-align: left;
} */
.inner-txt-form {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.input-lable {
  /* color: rgb(102 102 102); */
  font-size: 1.7vh;
  width: 35%;
  text-align: left;
}
.mainForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.alert {
  height: 25px;
  width: 125px;
  padding-inline: 2px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .input-column {
  border: 1px solid rgb(196 196 196);
  padding: 16.5px 14px;
  border-radius: 0.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3.5vh;
  flex-wrap: wrap;
} */
@media (max-width: 600px) {
  /* .input-column {
    flex-direction: column;
    gap: 10px;
  } */
  .input-lable {
    width: 100%;
    text-align: center;
    margin-bottom: 1.2vh !important;
  }
  .text-btn-status {
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
  }
  input[type='file'] {
    margin-block: 2vh;
  }
}
.input-column {
  border: 2px solid rgb(196 196 196);
  padding: 1.2vh 1vh;
  border-radius: 1vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3.5vh;
  flex-wrap: wrap;
}
.input-column:hover {
  border-color: rgb(33 33 33);
}
.alert {
  height: 25px;
  width: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-file-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
input[type='file'] {
  font-size: 1.7vh;
  width: 15rem;
}
.logologin {
  width: 45%;
}
@media screen and (max-width: 599px) {
  .logologin {
    width: 200px;
  }
}
